@tailwind base;
@tailwind components;
@tailwind utilities;

/* Lenis smooth scrolling styles */
html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

.bg-five-lines {
  background-image: linear-gradient(#eae8e7, #eae8e7),
    linear-gradient(#eae8e7, #eae8e7), linear-gradient(#eae8e7, #eae8e7),
    linear-gradient(#eae8e7, #eae8e7), linear-gradient(#eae8e7, #eae8e7);
  background-size: 3px 100%;
  background-repeat: no-repeat;
  background-position: 2% 0, 25% 0, 50% 0, 75% 0, 98% 0;
}
.bg-black {
  background-color: #0e0e0e;
}
@media (pointer: fine) {
  body,
  a,
  button {
    cursor: none;
  }
}

.cursor-dot,
.cursor-ring {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  display: none;
  transform: translate(-50%, -50%);
}

/* Dot with inversion */
.cursor-dot {
  width: 12px;
  height: 12px;
  background: white; /* white + difference = inversion */
  mix-blend-mode: difference;
  border-radius: 50%;
  z-index: 10000;
}

/* Ring with transparent border */
.cursor-ring {
  width: 40px;
  height: 40px;
  border: 2px solid #535353;
  border-radius: 50%;
  background: transparent;
  z-index: 9999;
}

/* Only show custom cursor on fine pointers */
@media (pointer: fine) {
  .cursor-dot,
  .cursor-ring {
    display: block;
  }
}
